<!-- default-sidebar.component.html -->

<div class="sidebar">
    <div class="sidebar-brand">
      BMS
    </div>
    <ul class="sidebar-nav">
      <li class="nav-item">
        <a routerLink="/dashboard" class="nav-link">Dashboard</a>
      </li>
      <li class="nav-item">
        <a routerLink="/project" class="nav-link">Project</a>
      </li>
      <li class="nav-item">
        <a routerLink="/room" class="nav-link">Room</a>
      </li>
      <li class="nav-item">
        <a routerLink="/task" class="nav-link">Task</a>
      </li>
      <li class="nav-item">
        <a routerLink="/ticket" class="nav-link">Ticket</a>
      </li>
    </ul>
    <button class="login-btn">Giriş Yap</button>
  </div>
  