<!-- home-page.component.html -->

<app-default-welcome-page-navbar></app-default-welcome-page-navbar>
<section class="banner">
    <img src="/assets/img/Image5.jpg" alt="Banner Image">
    <div class="overlay">
      <h1>AKAB İş Takip Sistemleri</h1>
      <p>AKAB ile takımlarınızı istediğiniz gibi kontrol edin. Ayrıcalıklı iş takip sistememizde yapabileceklerinizin sınırı yok!</p>
    </div>
<div class="card-container">
  <div class="card">
    <img src="/assets/img/Image6.png" alt="alt_image">
    <h1>Zamandan Tasarruf Edin!</h1>
    <p class="p1">
      Takımlarınızı rahatça yönetin. İstediğiniz her an iş takibini yapabilir, çalışanınızla etkileşim halinde olabilirsiniz.
    </p>
  </div>
  <div class="card">
    <img src="/assets/img/Image7.png" alt="alt_image">
    <h1>Sorunlara Derhal Müdahale Edin!</h1>
    <p class="p1">
      Developerlarınıza hemen bağlanın ve Takım Liderleriyle yardımıyla derhal erişim sağlayarak sorunları ilk denemelerinde çözmelerini sağlayın ve ek iş, ziyaret veya çağrı ihtiyacını ortadan kaldırın.
    </p>
  </div>
  <div class="card">
    <img src="/assets/img/Image8.png" alt="alt_image">
    <h1>İş Arşiviniz</h1>
    <p class="p1">
      Projelerinizle alakalı geçmişten bu güne ne varsa cihazınıza dahil edin.
    </p>
  </div>
</div>
</section>
<app-default-welcome-page-footer></app-default-welcome-page-footer>
