$primary-color: #008080;

.banner {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white; // Metin rengi beyaz
    background-color: #008080; // Zemin rengi

    .text-container {
        // ... diğer stil özellikleri
        h1 {
          font-size: 2em; // Düşürülecek değer
          margin-bottom: 20px;
        }
      
        p {
          font-size: 1em; // Düşürülecek değer
        }
      }
  }
}