/* navbar.component.scss */

.navbar {
    background-color: #2196F3; /* Mavi tonu */
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-brand {
    color: white; /* Yazı rengi beyaz */
    font-size: 24px;
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    margin-right: 15px;
    list-style-type: none; /* Noktaları kaldır */
  }
  
  .nav-link {
    color: white; /* Yazı rengi beyaz */
    font-size: 18px;
    text-decoration: none; /* Alt çizgiyi kaldır */
  }
  
  /* Login butonu için özel stiller */
  .login-btn {
    background-color: #4CAF50; /* Yeşil tonu */
    color: white; /* Yazı rengi beyaz */
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-btn:hover {
    background-color: #45a049; /* Hover efekti */
  }
  