<body>
    <header>
        <nav>
            <app-default-welcome-page-navbar></app-default-welcome-page-navbar>
        </nav>
    </header>
    <div class="wrapper">
        <div class="form-box login">
            <h2>Enter the Portal</h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon"></span>
                    <input [(ngModel)]="loginRequest.userName" [ngModelOptions]="{standalone: true}" name="Username" type="text"
                    class="form-control" placeholder="Username">
                </div>
                <div class="input-box">
                    <span class="icon"></span>
                    <input [(ngModel)]="loginRequest.password" [ngModelOptions]="{standalone: true}" name="Password"
                    type="password" class="form-control" placeholder="Password">
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">Remember Me</label>
                    <button type="submit" class="btn" (click)="login()">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>




