<body>
    <header>
        <nav>
            <app-default-welcome-page-navbar></app-default-welcome-page-navbar>
        </nav>
    </header>
    <div class="wrapper">
        <div class="form-box login">
            <h2>Giriş Yap</h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon"></span>
                    <input type="username" name="" id="" required>
                    <label>Kullanıcı Adı</label>
                </div>
                <div class="input-box">
                    <span class="icon"></span>
                    <input type="password" name="" id="" required>
                    <label>Şifre</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">Beni Hatırla</label>
                    <a href="#">Şifremi Unuttum</a>
                </div>
                <button type="submit" class="btn">Giriş Yap</button>
            </form>
        </div>
    </div>
</body>